.page {
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

}


@media screen and (min-width: 1280px) {
  .page{
    min-width: 1280px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .page{
    max-width: 1279.99px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1023.99px) {
  .page{
    max-width: 1023.99px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.99px) {
  .page {
    max-width: 767.99px;
  }
}