.photo-grid {
  list-style-type: none; 
  display: grid;
  margin: 0px auto;
  padding: 0px;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .photo-grid {
    max-width: 91vw;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.99px) {
  .photo-grid {
    max-width: 94vw;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.99px) {
  .photo-grid {
    max-width: 90vw;
    row-gap: 12px;
    grid-template-columns: 1fr;
  }
}