.place__image {
  grid-area: image;
  margin: 0px auto 32px;
}

@media screen and (min-width: 1280px) {
  .place__image {
    max-width: 35.94vw;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .place__image {
    max-width: 39.06vw;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__image {
    max-width: 44.27vw;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__image {
    max-width: 100vw;
    margin: 0px auto 32px;
  }
}