.lead {
  margin: 0px auto;
  align-items: left;
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
    min-height: 15vh;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .lead {
    max-width: 91vw;
    min-height: 14vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.99px) {
  .lead {
    max-width: 100%;
    min-height: 13vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.99px) {
  .lead {
    max-width: 100%;
    min-height: 4vh;
  }
}