.photo-grid__item {
  max-width: 90vw;
}

@media screen and (min-width: 1280px) {
  .photo-grid__item {
    max-width: 22.19vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__item {
    max-width: 29.3vw;

  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__item {
    max-width: 45.83vw;

  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid__item {
    max-width: 90vw;

  }
}