
@media screen and (min-width: 1280px) {
  .footer__links {
    display: flex;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__links {
    display: flex;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__links {
    display: flex;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    display: block;
    margin-bottom: 16px;
    list-style-type: none;
    padding: 0px;
    padding-bottom: 16px;
  }
}