.intro__text {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 1280px) {
  .intro__text {
    max-width: 54vw;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__text {
    max-width: 67vw;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    max-width: 94vw;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__text {
    max-width: 90vw;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 34px;
  }
}