.cover__overlay {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;

}

.cover__overlay::before {
  content: '';
  position: absolute;
  min-width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
}


@media screen and (min-width: 1024px){

  .cover__overlay:hover::before {
    opacity: .8;
    transition: opacity 1s linear 0.2s;
  }
}