.place__url-heading {
  font-weight: normal;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0px 0px 12px;
  width: 288px;
  font-size: 12px;
  line-height: 12px;
}

@media screen and (min-width: 1280px) {
  .place__link {
    width: 456px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__link {
    width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    width: 352px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__link {
    width: 288px;
  }
}